---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Asistente en Desarrollo Web - PROTalento",
    description:
      "Desarrollo de una aplicación de Lista de Tareas, ''ToDo'', para todos los que están buscando una plataforma de organización de tareas y de gestión de tiempo. React, Javascript, HTML y CSS fueron usados para desarrollar el frontend, incluyendo la eliminación, edición y completado en tiempo real y una gama amplia de funciones avanzadas. El backend fue creado con herramientas como Node.js, Express y MongoDB el cual se beneficia del bien desarrollado API REST y la autenticación del usuario con JWT.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
